{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active"><a href="{% url 'home'%}">Accueil</a></li>
<li class="breadcrumb-item active"><a href="{% url 'index_rj'%}">TIFERT_R_J</a></li>
{% endblock %}


{% block content %}


<!--<div class="container">-->
<!--  <div class="row justify-content-md-center">-->



  <div class="mb-4">
    <a href="{% url 'edit_rj'  rjs.pk %}" class="btn btn-primary" role="button">Correction</a>
  </div>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>

        <th>Date</th>
        <th>M_U(h)</th>
        <th>FQ(j-1)</th>
        <th>FQ(j)</th>
        <th>H2SO4(T/J)</th>
        <th>S_H2SO4 (j-1)</th>
        <th>TK2/1(T)</th>
        <th>TK2/2(T)</th>
        <th>T_H2SO4</th>
        <th>Stck_S_(j-1)</th>

        <th>Stck_S(j)</th>
        <th>S_consommé</th>
        <th>P_s_liq</th>
        <th>R_S_solid</th>
        <th>TK1/1 (T)</th>
        <th>TK1/2 (T)</th>
        <th>FQ tr(début)</th>
        <th>FQ tr(fin)</th>
        <th>T_H2SO4_trans</th>
        <th>P_H3PO4 (T)</th>
        <th>Arrêt gypse(h)</th>

      </tr>
    </thead>
    <tbody>

        <tr>
          <td><a href="#">{{ rjs.date.date }}</a></td>
          <td>{{ rjs.h_m_h2so4 }}</td>
          <td>{{ rjs.fqh_p_h2so4 }}</td>
          <td>{{ rjs.fqa_p_h2so4 }}</td>
          <td>{{ rjs.p_acide_h2so4 }}</td>
          <td>{{ rjs.sh_acide_h2so4 }}</td>
          <td>{{ rjs.tk2_1 }}</td>
          <td>{{ rjs.tk2_2 }}</td>
          <td>{{ rjs.titre_p_h2so4 }}</td>
          <td>{{ rjs.sh_s }}</td>

          <td>{{ rjs.sa_s }}</td>
          <td>{{ rjs.s_c }}</td>
          <td>{{ rjs.p_s_liq }}</td>
          <td>{{ rjs.r_s_solid }}</td>
          <td>{{ rjs.tk1_1 }}</td>
          <td>{{ rjs.fqd_t_h2so4 }}</td>
          <td>{{ rjs.fqf_t_h2so4 }}</td>
          <td>{{ rjs.t_acide_h2so4 }}</td>

          <td>{{ rjs.titre_t_h2so4 }}</td>
          <td>{{ rjs.p_acide_h3po4 }}</td>
          <td>{{ rjs.h_a_gypse }}</td>

        </tr>

    </tbody>
  </table>
  </div>
    </div>

    {% if rjs.has_other_pages %}
      <ul class="pagination">
        {% if rjs.has_previous %}
          <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in rjs.paginator.page_range %}
          {% if rjs.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if rjs.has_next %}
          <li><a href="?page={{ rjs.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}

{% endblock %}
