{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active"><a href="{% url 'home'%}">Accueil</a></li>
<li class="breadcrumb-item active"><a href="{% url 'index_rj'%}">TIFERT_R_J</a></li>
{% endblock %}

{% block content %}
<div class="container-fluid">
<!--  <div class="row justify-content-md-center">-->
<div class="mb-4">
    <a href="{% url 'new_rj' %}" class="btn btn-primary">Nouveau Rapport</a>
  </div>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>

        <th>Total Prod Acide (T)</th>

      </tr>
    </thead>
    <tbody>

        <tr>
          <td><a href="#">{{ Rjsomme.p_acide_h2so4__sum }}</a></td>


        </tr>

    </tbody>
  </table>

{% endblock %}
